.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.logo {
  display:flex;
  justify-content: left;
}

.signinbutton {
  border: solid 1px #ddd;
  border-radius: 50px;
  color: rgb(72, 176, 255);
  background-color: white;
  padding: 15px 32px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  display: flex;
  font-size: 20px;
  width: 300px;
  height: 40px;
}

.applebutton {
  border: solid 1px #ddd;
  border-radius: 50px;
  color: black;
  background-color: white;
  padding: 15px 32px; 
  align-items: center;
  justify-content: center;
  text-decoration: none;
  display: flex;
  font-size: 20px;
  width: 300px;
  height: 40px;
  font-weight: bolder;
}

.googlebutton {
  border: solid 1px #ddd;
  border-radius: 50px;
  color: black;
  background-color: white;
  padding: 15px 32px; 
  align-items: center;
  justify-content: center;
  text-decoration: none;
  display: flex;
  font-size: 20px;
  width: 300px;
  height: 40px;
  font-weight: bolder;
}

.createbutton {
  border: solid 1px #ddd;
  border-radius: 50px;
  color: white;
  background-color: rgb(72, 176, 255);
  padding: 15px 32px; 
  align-items: center;
  justify-content: center;
  text-decoration: none;
  display: flex;
  font-size: 20px;
  width: 300px;
  height: 40px;
}

.terms {
  font-size: 10px;
}

.googlelogo {
  padding-right: 10px;
}

.applelogo {
  padding-right: 5px;
}

.h1 {
font-size: 80px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: 700;
}

.h2 {
  font-size: 40px; 
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  padding-bottom: 10px;
}

.createbutton {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
font-weight: bolder;
}

.terms {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

.h3 { font-size: 27px;
font-weight: bolder;
}

.signinbutton {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

